.header__subtitle {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  width: 160px;
  text-align: center;
  margin: 5px 0 15px 10px;
}

@media screen and (min-width: 414px) {
  .header__subtitle {
    width: 200px;
    font-size: 20px;
    margin: 40px 0px 0 25px;
  }
}

@media screen and (min-width: 800px) {
  .header__subtitle {
    font-size: 40px;
    line-height: 120%;
    margin: 60px 0 0 80px;
    width: 390px;
  }
}

@media screen and (min-width: 1024px) {
  .header__subtitle {
    font-size: 45px;
    width: 545px;
    margin: 40px 0 0 80px;
  }
}
