@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");

body {
  background-color: #967d7d;
  font-size: 18px;
  color: #fff;
}

.page__container {
  max-width: 1356px;
  padding: 0 30px;
  margin: 0 auto;
}

.close {
  display: none;
}

/* Header's */
.header {
  background-image: url(../image/Header/forHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  padding-top: 30px;
}

.nav__link {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #fff;
}

.header__title {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  margin: 260px auto 145px;
}

.header_size {
  margin: 60px 0 150px 30px;
  width: 750px;
}

/* Section INFO */
.info {
  text-align: center;
}
.info__marks-img {
  margin: 30px auto 30px;
  width: 60px;
}
.info__text {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  max-width: auto;
  margin: 0 auto 10px;
}

.proba p:last-child {
  margin-bottom: 50px;
}

.info__video-img {
  display: grid;
  grid-template-columns: repeat(3, 416px);
  column-gap: 10px;
  row-gap: 10px;
}

.video {
  width: 416px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info__post {
  width: 416px;
  height: 414px;
}

.info__nav-icon {
  margin: 50px auto 50px;
  display: flex;
  justify-content: space-evenly;
  width: 700px;
}

.navigation__icon {
  width: auto;
}

.situations {
  display: grid;
  grid-template-columns: repeat(3, 416px);
  column-gap: 10px;
  row-gap: 40px;
}

.situations__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.situations__icon {
  background-color: #fff;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.situations__title {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 85%;
}

.consultation {
  display: flex;
  flex-direction: column;
}

.situations__subtitle {
  padding: 0 0 0 0;
}

.consultation__title {
  margin: 50px auto 10px;
}

.consultation__text {
  text-align: center;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  counter-reset: num;
  position: relative;
  margin: 0 0 0 60px;
  padding: 15px 0 5px 0;
  font-size: 18px;
}
ul li {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  line-height: 1.4;
}
ul li:after {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -45px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid #ef6780;
}

/* Вертикальная линия */
ul:before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: -30px;
  width: 1px;
  border-left: 1px solid #ef6780;
}
/* Скрытие линии у последнего li */
ol li:last-child:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -38px;
  width: 28px;
  background: #fff;
}

.consultation__table {
  display: grid;
  grid-template-columns: repeat(3, 416px);
  column-gap: 10px;
  row-gap: 10px;
}

.consultation__table-item * {
  border: 5px solid rgb(255, 255, 255);
  height: 95px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.education__title {
  margin: 50px auto 5px;
}

.footer {
  display: flex;
  padding: 50px 0;
  justify-content: space-evenly;
  align-items: center;
}

.contacts__title {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 10px;
}
.contacts__items {
  display: flex;
  flex-direction: column;
}
.contacts__item {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  padding-bottom: 15px;
}

.contacts__item-link {
  color: #ffffff;
}

.navigation__title {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 25px;
  text-align: center;
}
.navigation__icon {
  padding-left: 15px;
}

.button {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  width: 300px;
  margin: 75px 0px 0 260px;
}
@keyframes glowing {
  0% {
    background-color: #a80505;
    box-shadow: 0 0 3px #a80505;
  }
  50% {
    background-color: #e81919;
    box-shadow: 0 0 10px #e81919;
  }
  100% {
    background-color: #a80505;
    box-shadow: 0 0 3px #a80505;
  }
}
.button {
  animation: glowing 1300ms infinite;
}

.button__div {
  margin: 0 0;
}
