.info__post {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .info__post {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
  }
}

@media screen and (min-width: 800px) {
  .info__post {
    width: 91%;
  }
}

@media screen and (min-width: 1280px) {
  .info__post {
    width: 100%;
  }
}
