.education__title {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
  margin: 10px auto;
}

@media screen and (min-width: 1024px) {
  .education__title {
    font-size: 30px;
    line-height: 85%;
    margin: 25px auto 5px;
  }
}
