.info__video-img {
  display: grid;
  grid-template-columns: repeat(1, auto);
  row-gap: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .info__video-img {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    column-gap: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .info__video-img {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
  }
}
