.footer__copyright {
  margin-top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  padding: 0 0 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
