.header__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .header__img {
    max-height: 825px;
  }
}
