.consultation__title {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .consultation__title {
    min-width: 160px;
  }
}
