.info__video {
  width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .info__video {
    width: 416px;
    height: 315px;
  }
}
