.consultation__table {
  display: grid;
  grid-template-columns: repeat(1, auto);
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (min-width: 768px) {
  .consultation__table {
    grid-template-columns: repeat(2, 350px);
    justify-content: space-evenly;
    column-gap: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .consultation__table {
    grid-template-columns: repeat(2, 600px);
  }
}
