.situations__title {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin: 0 auto 5px;
}

@media screen and (min-width: 1024px) {
  .situations__title {
    font-size: 30px;
    line-height: 85%;
  }
}
