.info__text {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  max-width: auto;
  margin: 0 auto 0px;
}

@media screen and (min-width: 1024px) {
  .info__text {
    font-size: 27px;
    line-height: 130%;
  }
}
