.situations {
  display: grid;
  grid-template-columns: repeat(1, auto);
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .situations {
    grid-template-columns: repeat(2, 360px);
    justify-content: space-evenly;
    row-gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .situations {
    grid-template-columns: repeat(3, 416px);
    column-gap: 10px;
    row-gap: 40px;
  }
}
